{
    "source": {
        "directories": [
            "src"
        ],
         "excludes": [
             "vendor",
             "Tests"
         ]
    },
    "timeout": 10,
    "logs": {
        "text": "humbuglog.txt"
    }
}